parameters:

application:
	errorPresenter: Error
	mapping:
		*: ZelPage\*Presenter

session:
	expiration: 30 days

extensions:
	env: wodCZ\NetteDotenv\DotEnvExtension

database:
	default:
		dsn: @env::get('DB_DSN', 'mysql:host=127.0.0.1;dbname=berta_zelpage')
		user: @env::get('DB_USER', 'berta_zelpage')
		password: @env::get('DB_PASS', 'berta_zelpage')
		debugger: @env::get('DB_DEBUG', TRUE)

services:
	router: ZelPage\RouterFactory::createRouter
	authenticator: ZelPage\AuthenticationService
	userService: ZelPage\UserService
	newsService: ZelPage\NewsService
	galleryService: ZelPage\GalleryService
	calendarService: ZelPage\CalendarService
	organizerFormFactory: ZelPage\OrganizerFormFactory
	signInFormFactory: ZelPage\SignInFormFactory
	vehicleFormFactory: ZelPage\VehicleFormFactory
