<section class="image-uploader">
<form class="file-upload">
	<div class="box-filearea">
		<input id="file-input" type="file" name="files[]" multiple data-multiple-files="%count% files selected" />
		<label for="file-input">Select a file</label>
		<button type="submit">Upload</button>
	</div>
	<div class="box-uploading"></div>
	<div class="box-success"></div>
	<div class="box-error"></div>
</form>
</section>