// out: style.css, compress: true, strictMath: true, sourceMap: true

* {
    box-sizing: border-box;
}

// VARIABLES
@h-font: "Raleway",
    "Arial",
    "Helvetica",
    sans-serif;
@c-font: "Roboto", "Arial", "Helvetica", sans-serif;
@green: rgb(0, 155, 52);
@primary: rgb(23, 158, 206);
@purple: rgb(118, 92, 202);
@darker: rgb(0, 140, 195);
@light: rgb(236, 245, 250);
@white: rgb(255, 255, 255);
@black: rgb(31, 16, 26);

body {
    margin: 0;
}

header,
.upper,
.articles,
.gallery-headline,
.gallery ul,
.footer-content,
.read-more {
    width: 940px;
    margin: 0 auto;
    font-size: 12px;
    font-family: @c-font;
}



header {
    margin-top: 5vh;

    .logo-section {
        margin: 0 auto;
        max-width: 150px;

        .logo {
            display: inline-block;
            padding: 70px 0 0 0;
            overflow: hidden;
            background-image: url("img/zelpage_blue.svg");
            background-repeat: no-repeat;
            width: 150px;
            height: 150px;
            margin: 0.8em 0 0.8em 0;
            font-size: 0px;
        }
    }

    nav {
        background-color: @light;
        height: 35px;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        padding-right: 20px;

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
        }

        li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 35px;
            padding: 0 2px;
            font-weight: 700;
            -webkit-transition: all 50ms ease-in-out;
            transition: all 50ms ease-in-out;

            &:hover {
                background-color: @white;
            }


            img {
                width: 20px;
                height: 20px;
            }

            a {
                display: inline-block;
                padding: 0 0.4rem;
                text-decoration: none;
                color: @black;
                font-family: @c-font;
                font-size: 1.1rem;
                display: inline-block;
                font-weight: 500;



            }

            &:not(first-child) {
                margin-left: 30px;
            }
        }

        .social {
            margin-left: 0px !important;

        }
    }
}

.upper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

h1,
h2,
h4 {
    font-family: @h-font;
}


.promo {
    width: 460px;

    img {
        max-width: 460px;
        z-index: -1;
    }

    .headline {
        background: @darker;
        padding: 15px 10px 10px 15px;
        margin-top: -50px;
        z-index: 0;
        position: relative;
        border: 0;
        color: @white;

        h2 {
            font-size: 1.5rem;
            letter-spacing: 1.2px;

            a {
                color: @white;
                text-decoration: none;
                transition: all 0.3s;
            }

            a:hover {
                color: @light;
            }
        }

        p {
            font-family: @c-font;
            font-size: 1rem;
            line-height: 1.3;
        }

    }


}



.actuality {
    width: 460px;
    max-height: 492px;
    overflow: hidden;

    h2 {
        text-transform: uppercase;
        font-size: 1.1rem;
        letter-spacing: 0.9px;
        margin-top: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 20px;

        li,
        li h3 {
            font-size: 1.2em;
            margin: 5px 0 5px 0;
            font-weight: 100;
            font-family: @c-font;
        }

        li:not(:last-child) {
            border-bottom: 1px solid @primary;
        }

        li a {
            text-decoration: none;
            color: #000000;
            transition: all 0.3s;
        }

        li a:hover {
            color: @primary;
        }

        li img {
            width: 460px;
        }
    }
}

.more {
    display: block;
    flex-basis: 100%;
    text-transform: uppercase;
    padding: 10px 0 10px 0;
    border: 2px solid @darker;
    letter-spacing: 1.5px;
    text-decoration: none;
    margin: 20px 0;
    text-align: center;
    background: @white;
    transition: all 0.3s;
    color: @darker;
    font-size: 0.9rem;
    font-family: @c-font;
    font-weight: bolder;
    -webkit-transition: all 50ms ease-in-out;
    transition: all 50ms ease-in-out;
}

.more:hover {
    background-color: @darker;
    color: @white;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.2em;

    a {
        flex-basis: 31%;
        padding: 10px 0 10px 0;
        cursor: pointer;
        font-family: @c-font;
        text-transform: uppercase;
        text-align: center;
    }
}

.buttons .add-message {
    border: 2px solid @green;
    color: @green;
    text-decoration: none;
    background: @white;
    font-weight: bolder;
    transition: all 0.3s;
}

.add-photo {
    border: 2px solid @primary;
    color: @primary;
    text-decoration: none;
    background: @white;
    font-weight: bolder;
    transition: all 0.3s;

    a {
        text-decoration: none;
        color: @primary;
    }
}

.add-video {
    border: 2px solid @purple;
    color: @purple;
    text-decoration: none;
    background: @white;
    font-weight: bolder;
    transition: all 0.3s;

    a {
        text-decoration: none;
        color: @purple;
    }

}

.add-message:hover {
    color: @white;
    background: @green;
}

.add-photo:hover {
    color: @white;
    background: @darker;
}

.add-video:hover {
    color: @white;
    background: @purple;
}

.button-section {
    background: linear-gradient(transparent, @white 20%);
    padding-top: 30px;
    margin-top: -150px;
    position: relative;
    z-index: 0;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;

    .article {
        width: 300px;

        img {
            width: 300px;
            height: 195px;
        }

        h2 a {
            text-decoration: none;
            font-size: 15px;
        }

        h2 {
            line-height: 0.9;
        }

        .read-more {
            background-color: @green;
            width: 940px;
            padding-top: 10px;
            text-transform: uppercase;

            a {
                text-decoration: none;
            }
        }
    }

    .headline {
        background: @darker;
        padding: 2px 10px 10px 15px;
        letter-spacing: 1.1px;
        max-height: 110px;
        height: 100px;
        margin-top: -50px;
        z-index: 0;
        position: relative;
        border: 0;
        color: @white;

        h2 {
            font-size: 1.5rem;

            a {
                color: @white;
                text-decoration: none;
                transition: all 0.3s;
            }

            a:hover {
                color: @light;
            }
        }
    }
}


.gallery {
    background-color: @white;
    border-top: 2px solid @darker;
    border-bottom: 2px solid @darker;
    margin: 0;
    padding: 20px;

    h2 {
        color: @darker;
        text-transform: uppercase;
        font-size: 1.1rem;
        letter-spacing: 0.9px;
        margin-bottom: 15px;
    }

    ul {
        list-style: none;
        display: flex;
        padding-left: 0;
        margin-bottom: 15px;
    }

    ul li {
        margin-right: 15px;
        margin-left: 0;
    }

    img {
        max-width: 400px;
        max-height: 267px;
    }

}



#carousel {
    overflow-x: scroll;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }

}


footer {
    background: @light;
    padding: 40px 0 40px 0;
    font-size: 1rem;

    p {
        font-size: 0.9rem;
        margin-bottom: 5px;

        a {
            color: @black;

            &:hover {
                text-decoration: none;
            }
        }
    }

    // Are we gonna delete this?
    .toplist {
        width: 88px;
        height: 120px;
        background-color: grey;
    }

    .follow-us {
        font-size: 0.9rem;
        margin-top: 20px;

        img {
            vertical-align: middle;
            margin: 0 10px 0 20px;
        }

        a {
            text-decoration: none;
            color: @black;
        }
    }

}
